*{
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}
/* header styles  */
.nav-container{
    display: flex;
    padding: 25px;
    background-color: gray;
    align-items: center;
    justify-content: space-around;
}
.logo-container{
    display: flex;
    align-items: center;
    color: rgba(0, 255, 225, 0.753);
    gap: 10px;
}
.menu-container ul{
    display: flex;
}
.nav-container ul li{
    list-style: none;
    margin-left: 25px;
    font-size: 25px;
    font-weight: 500;
    color: white;
    
}

/* banner section styles  */

.banner-section{
    width: 100%;
    height: 100vh;
    background-image: url("asset/image/background.jpg") ,
    linear-gradient(rgba(0,0,0,0.2) , rgba(0,0,0,0.4));
    background-size:cover;
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.banner-title{
    font-size: 65px;
}
.primary{
    color: rgba(255, 0, 0, 0.828);
}
.banner-description{
    font-size:22px;
    width:50% ;
    margin: auto;
    margin-top: 20px;
}
.buttons{
    margin-top: 20px;
}
.btn{
    padding: 15px 40px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    margin-left: 20px;
    border-radius: 10px;
    
}
.btn-discover{
    background-color: rgba(255, 0, 0, 0.936);
    color: white;
}

/* service styles  */

.service-container{
    width: 100%;
    height: 100vh;
    background-image: url("asset/image/footer-bg.png") , 
    linear-gradient(rgba(0,0,0,1),rgb(0, 0, 0));
    color: white;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
}
.service-btn{
    padding: 15px 30px;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    color: gray;
}
.service-items{
    padding: 50px;
    width: 50%;
}
.service-title{
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.service-desc{
    font-size: 20px;
    width: 60%;

}
.service-items ul{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}
.service-items ul li{
    list-style: decimal;
    font-size: 20px;
    line-height: 30px;
}
.author-items{
    display: flex;
    align-items: center;
    gap: 20px;
    
}
.author-img{
    display: flex;
    align-items: center;
    gap: 20px;
    
}
.author-img img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    
    
}
.author-name{
    font-size: 20px;
}
.more-details{

    border-left: 1px solid red;
}

.more-details .service-btn{
    margin-left: 40px;
    color: red;

}
.service-skills{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
}
.skill{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    /* box-shadow: 5px 5px 8px  gray; */
    background-color: #fff;
    color: black;
    padding: 20px;
    border-radius: 10px;
    
}
.skill img{
    width: 100px;
    height: 100px;
    margin-bottom: 20px;

}

/* ------------------------------------ */

.appointment-section-items{
    margin: -80px;
    /* position:relative;
    display: flex;
    justify-content: center; */
}
.appointment-section{
    /* position: absolute;
    top: -80px; */
    margin: 0 auto;
    display: flex;
    width: 75%;
    background-color: red;
    align-items: center;
    justify-content: center;
    padding: 30px 40px;
    border-radius: 20px;
    color: white;
    gap: 40px;


}
.phone-call{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 14px;
    font-weight: 400;
    
    border-right: 1px solid gray;
}
.phone-call h4{
    margin-right: 20px;
}
.call-icon{
    width: 100px;
}
.call-desc{
    width: 350px;
    
}
.app-btn{
    padding: 15px 50px;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    margin-right: 50px;
}